html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.openMenu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(150px - 10px);
    height: 100vh;
    padding: 5px;
    overflow-y: auto;
    background-color: var(--backgroundColour);
    z-index: 5;
}

.sidebarItem {
    display: block;
    width: calc(100% - 8px);
    text-align: left;
}

.sidebarItem.file {
    padding: 4px;
    background-color: transparent;
}

.sidebarItem.file:hover {
    background-color: var(--uiHoverColour);
}

.sidebarItem.file.selected {
    background-color: var(--uiColour);
}

.sidebarItem.folder {
    width: calc(100% - 8px);
    margin-left: 4px;
    padding-left: 4px;
    font-size: 12px;
    border-left: solid 2px var(--uiHoverColour);
    border-radius: 5px;
}

.files {
    margin-top: 10px;
}

.folderLabel {
    padding-top: 4px;
    padding-bottom: 4px;
}

.newFilename {
    display: none;
    padding: 4px;
    width: calc(100% - 16px)!important;
    margin-top: 0;
}

.newFilenameHint {
    display: none;
    padding: 4px;
    font-size: 10px;
}

.editor {
    position: absolute;
    top: 0;
    left: 150px;
    width: calc(100vw - 150px);
    height: 100vh;
    background-color: var(--backgroundColour);
    cursor: text;
}

@media (max-width: 600px) {
    .sidebar {
        width: calc(100% - 10px);
        display: none;
    }

    .editor {
        left: 0;
        width: 100vw;
    }
}

/* CodeMirror tweaks */

.CodeMirror {
    height: 100%;
}

.CodeMirror-gutters {
    border: none;
    cursor: default;
}

/* CodeMirror-hints tweaks */

.CodeMirror-hints {
    border: none;
    background-color: var(--uiColour);
    color: var(--uiTextColour);
    box-shadow: none;
    z-index: 2;
}
  
.CodeMirror-hint {
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    white-space: pre;
    background-color: var(--uiColour);
    color: var(--uiTextColour);
    cursor: pointer;
}
  
li.CodeMirror-hint-active {
    background: #4688f2;
    color: white;
}
  