html, body {
    height: 100%;
    margin: 0;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(150px - 20px);
    height: 100vh;
    padding: 10px;
}

.editor {
    position: absolute;
    top: 0;
    left: 150px;
    width: calc(100vw - 150px);
    height: 100vh;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .editor {
        left: 0;
        width: 100vw;
    }
}

/* CodeMirror tweaks */

.CodeMirror {
    height: 100%;
}

.CodeMirror-gutters {
    border: none;
}

/* CodeMirror-hints tweaks */

.CodeMirror-hints {
    border: none;
    background-color: var(--uiColour);
    color: var(--uiTextColour);
    box-shadow: none;
}
  
.CodeMirror-hint {
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    white-space: pre;
    background-color: var(--uiColour);
    color: var(--uiTextColour);
    cursor: pointer;
}
  
li.CodeMirror-hint-active {
    background: #4688f2;
    color: white;
}
  