html, body {
    height: 100%;
    margin: 0;
}

.editor {
    width: 100vw;
    height: 100vh;
}

/* CodeMirror tweaks */

.CodeMirror {
    height: 100%;
}

.CodeMirror-gutters {
    border: none;
}

.CodeMirror-linenumber {
    background-color: transparent;
}

/* CodeMirror-hints tweaks */

.CodeMirror-hints {
    border: none;
    background-color: var(--uiColour);
    color: var(--uiTextColour);
    box-shadow: none;
  }
  
  .CodeMirror-hint {
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    white-space: pre;
    background-color: var(--uiColour);
    color: var(--uiTextColour);
    cursor: pointer;
  }
  
  li.CodeMirror-hint-active {
    background: #08f;
    color: white;
  }
  